.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

  }
  
  .spinner-lock {
    animation: spin 1s linear infinite; /* Spin animation */
    z-index: 10;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }