---
import Layout from '../layouts/Layout.astro';
import PopALock from '../components/popalockInfinite';
---

<Layout title="Pop A Lock - Infinite">
	<main>
		<PopALock client:load/>
	</main>
</Layout>
